<ion-header>
  <ion-toolbar>
    <ion-title>
      calculator app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="calc-body">
      <div class="calc-screen">
        <!--<div class="calc-operation">2536 + 419 + </div>-->
        <div class="calc-typed">{{current || '0'}}</div>
      </div>
      <div class="calc-button-row">
        <div (click)="clear()" class="button c">C</div>
        <div (click)="sign()" class="button l">-</div>
        <div (click)="percent()" class="button l">%</div>
        <div (click)="divide()" class="button l">/</div>
      </div>
      <div class="calc-button-row">
        <div (click)="append(7)" class="button">7</div>
        <div (click)="append(8)" class="button">8</div>
        <div (click)="append(9)" class="button">9</div>
        <div (click)="times()" class="button l">x</div>
      </div>
      <div class="calc-button-row">
        <div (click)="append(4)" class="button">4</div>
        <div (click)="append(5)" class="button">5</div>
        <div (click)="append(6)" class="button">6</div>
        <div  (click)="minus()" class="button l">−</div>
      </div>
      <div class="calc-button-row">
        <div (click)="append(1)" class="button">1</div>
        <div (click)="append(2)" class="button">2</div>
        <div (click)="append(3)" class="button">3</div>
        <div (click)="add()" class="button l">+</div>
      </div>
      <div class="calc-button-row">
        <div (click)="dot()" class="button">.</div>
        <div (click)="append(0)" class="button">0</div>
        <div class="button">
          </div>
            <div (click)="equal()" class="button l">=</div>
        </div>
      </div>
    </div>
  
</ion-content>
